// @use "sass:color";

// $primary-color: #2a3a47;
// $bg-color: #f8f9fa;
// $text-color: #333;
// $border-color: #ddd;

// .Users {
//   position: relative;
//   width: 100%;
//   overflow-x: hidden;

//   .users-container {
//     background-color: $bg-color;
//     width: 100%;
//     min-height: 100vh;
//     padding: 20px;

//     @media (max-width: 768px) {
//       .table-wrapper {
//         padding: 10px;
//       }

//       .custom-table {
//         font-size: 14px;

//         thead th {
//           font-size: 16px;
//         }

//         tbody td {
//           padding: 10px;
//         }
//       }
//     }

//     .filtration {
//       display: flex;
//       flex-wrap: wrap;
//       align-items: center;
//       gap: 10px;

//       .input_cover {
//         flex: 1;
//         input[type="text"] {
//           width: 100%;
//           min-width: 180px;
//           padding: 8px 12px;
//           font-size: 14px;
//           border-radius: 6px;
//           border: 1px solid #ccc;
//           outline: none;
//           transition: border 0.3s, box-shadow 0.3s;

//           &:focus {
//             border-color: #00c896;
//             box-shadow: 0 0 5px #00c89666;
//           }
//         }
//       }

//       select {
//         background: $primary-color;
//         color: #fff;
//         padding: 8px 12px;
//         font-size: 14px;
//         border-radius: 6px;
//         border: 1px solid #ccc;
//         outline: none;
//         transition: border 0.3s, box-shadow 0.3s;

//         &:focus {
//           border-color: #00c896;
//           box-shadow: 0 0 5px #00c89666;
//         }

//         option {
//           color: white;
//         }
//       }

//       // Responsive adjustments
//       @media (max-width: 933px) {
//         flex-direction: column;
//         align-items: stretch;

//         input[type="text"],
//         select {
//           width: 100%;
//         }
//       }
//     }

//     .table-wrapper {
//       background: white;
//       width: 100%;
//       padding: 20px;
//       margin-top: 20px;
//       border-radius: 8px;
//       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
//       overflow-x: auto;

//       .custom-table {
//         width: 100%;
//         border-collapse: collapse;
//         text-align: center;

//         @media (max-width: 710px) {
//           thead {
//             display: none;
//           }

//           tbody {
//             tr {
//               background: white;
//               display: block;
//               padding: 10px;
//               margin-bottom: 10px;
//               border: 1px solid $border-color;
//               border-radius: 8px;
//               box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//             }

//             td {
//               display: flex;
//               justify-content: space-between;
//               position: relative;
//               padding: 10px;
//               font-size: 14px;
//               font-weight: bold;
//               border-bottom: 1px solid $border-color;

//               &::before {
//                 content: attr(data-label);
//                 color: $primary-color;
//                 margin-right: 10px;
//                 font-weight: bold;
//                 text-transform: uppercase;
//               }
//             }
//           }
//         }

//         thead {
//           background-color: $primary-color;
//           color: white;

//           th {
//             padding: 12px;
//             font-size: 18px;
//           }
//         }

//         tbody {
//           tr {
//             transition: background 0.3s ease;

//             &:nth-child(even) {
//               background-color: #f2f2f2;
//             }

//             td {
//               padding: 12px;
//               font-size: 16px;
//               border-bottom: 1px solid $border-color;

//               .action-buttons {
//                 display: flex;
//                 justify-content: center;
//                 gap: 10px;

//                 .btn {
//                   background: none;
//                   height: fit-content;
//                   font-size: 18px;
//                   border: none;
//                   cursor: pointer;
//                   transition: 0.3s;

//                   &-view {
//                     color: #3498db;
//                     &:hover {
//                       color: color.adjust(#3498db, $lightness: -10%);
//                     }
//                   }

//                   &-edit {
//                     color: #f39c12;
//                     &:hover {
//                       color: color.adjust(#f39c12, $lightness: -10%);
//                     }
//                   }

//                   &-delete {
//                     color: #e74c3c;
//                     margin-top: 2px;
//                     &:hover {
//                       color: color.adjust(#e74c3c, $lightness: -10%);
//                     }
//                   }
//                 }
//               }
//             }
//           }

//           .no-data {
//             color: $text-color;
//             padding: 20px;
//             font: {
//               size: 18px;
//               weight: bold;
//             }
//             text-align: center;
//             td {
//               justify-content: center;
//             }
//           }
//         }
//       }
//     }
//   }

//   .loading-bottom {
//     width: 50px;
//     height: 50px;
//     margin: 10px auto;
//     border-radius: 50%;
//     border: 4px solid #0099ff;
//     border-top-color: transparent;
//     animation: spin 1s linear infinite;
//   }

//   @keyframes spin {
//     to {
//       transform: rotate(360deg);
//     }
//   }
// }

// .input-error {
//   border-color: red !important;
//   color: red;
// }

// .error-message {
//   color: red;
//   font-size: 0.875rem;
//   margin-top: 4px;
//   &::before {
//     animation: flash 2s ease-in-out infinite;
//     content: "⚠ ";
//   }

//   &.in {
//     @media (min-width: 933px) {
//       display: none;
//     }
//   }

//   &.out {
//     @media (max-width: 933px) {
//       display: none;
//     }
//   }
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(-3px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes flash {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

@use "sass:color";

$primary-color: #1e293b;
$bg-color: #0f172a;
$text-color: #e2e8f0;
$border-color: #334155;

.Users {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .users-container {
    background-color: $bg-color;
    color: $text-color;
    width: 100%;
    min-height: 100vh;
    padding: 20px;

    > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: $text-color;
    }

    .filtration {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;

      .input_cover {
        flex: 1;
        input[type="text"] {
          background: $primary-color;
          color: $text-color;
          width: 100%;
          min-width: 180px;
          padding: 8px 12px;
          font-size: 14px;
          border-radius: 6px;
          border: 1px solid $border-color;
          outline: none;
          transition: border 0.3s, box-shadow 0.3s;

          &:focus {
            border-color: #00c896;
            box-shadow: 0 0 5px #00c89666;
          }
        }
      }

      select {
        background: $primary-color;
        color: $text-color;
        padding: 8px 12px;
        font-size: 14px;
        outline: none;
        border-radius: 6px;
        border: 1px solid $border-color;
        transition: border 0.3s, box-shadow 0.3s;

        &:focus {
          border-color: #00c896;
          box-shadow: 0 0 5px #00c89666;
        }

        option {
          background: $primary-color;
          color: $text-color;
        }
      }

      @media (max-width: 933px) {
        flex-direction: column;
        align-items: stretch;

        input[type="text"],
        select {
          width: 100%;
        }
      }
    }

    .table-wrapper {
      background: $primary-color;
      color: $text-color;
      width: 100%;
      padding: 20px;
      margin-top: 20px;
      overflow-x: auto;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

      .custom-table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        @media (max-width: 710px) {
          thead {
            display: none;
          }

          tbody {
            tr {
              background: $primary-color;
              display: block;
              padding: 10px;
              margin-bottom: 10px;
              border: 1px solid $border-color;
              border-radius: 8px;
              box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
            }

            td {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              font: {
                size: 16px;
                weight: bold;
              }
              border-bottom: 1px solid $border-color;

              &::before {
                content: attr(data-label);
                color: #00c896;
                margin-right: 10px;
                font-weight: bold;
                text-transform: uppercase;
              }
            }
          }
        }

        thead {
          background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
          color: white;

          th {
            padding: 12px;
            font-size: 18px;
          }
        }

        tbody {
          tr {
            background-color: #1e293b;
            transition: all 0.5s ease;
            cursor: pointer;

            &:nth-child(even) {
              background-color: #33486982;
            }

            &:hover {
              background: #0044ff;
              scale: 1.01;
            }

            td {
              padding: 12px;
              font-size: 16px;
              border-bottom: 1px solid $border-color;

              .action-buttons {
                display: flex;
                justify-content: center;
                gap: 10px;

                .btn {
                  background: none;
                  height: fit-content;
                  font-size: 18px;
                  border: none;
                  cursor: pointer;
                  transition: 0.3s;

                  &-view {
                    color: #38bdf8;
                    &:hover {
                      color: color.adjust(#38bdf8, $lightness: -10%);
                    }
                  }

                  &-edit {
                    color: #facc15;
                    &:hover {
                      color: color.adjust(#facc15, $lightness: -10%);
                    }
                  }

                  &-delete {
                    color: #f87171;
                    margin-top: 2px;
                    &:hover {
                      color: color.adjust(#f87171, $lightness: -10%);
                    }
                  }
                }
              }
            }
          }

          .no-data {
            color: $text-color;
            padding: 20px;
            font: {
              size: 18px;
              weight: bold;
            }
            text-align: center;
            td {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .loading-bottom {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 50%;
    border: 4px solid #00c896;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.input-error {
  border-color: #f87171 !important;
  color: #f87171;
}

.error-message {
  color: #f87171;
  margin-top: 4px;
  font-size: 0.875rem;
  &::before {
    animation: flash 2s ease-in-out infinite;
    content: "⚠ ";
  }

  &.in {
    @media (min-width: 933px) {
      display: none;
    }
  }

  &.out {
    @media (max-width: 933px) {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
