// .Watch {
//   background-color: #161a26;
//   height: 100vh;
//   overflow-x: hidden;
//   padding-bottom: 40px;
//   > header {
//     position: static;
//   }

//   .container {
//     display: flex;
//     justify-content: center;
//     gap: 50px;
//     width: 1200px;
//     padding: 80px 20px 20px;
//     margin: 0 auto;
//     // background-color: red;

//     // scale: 0.9;
//     .main-content {
//       width: 100%;
//       max-width: 600px;
//       .subtitles {
//         background-color: #1f2433;
//         border-radius: 15px;
//         padding: 10px 20px;
//         padding: 0 0 10px;
//         height: 600px;
//         box-shadow: 0 0 10px #00c896, 0 0 15px #0d89f2;
//         .video-player {
//           width: 100%;
//           video {
//             width: 100%;
//             border-radius: 12px;
//             box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//           }
//         }

//         .controls {
//           margin: 15px 0;
//           display: flex;
//           gap: 10px;
//           padding: 0 20px;

//           button {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             gap: 15px;
//             padding: 8px 14px;
//             border-radius: 8px;
//             border: none;
//             cursor: pointer;
//             background: #0c85f2;
//             color: #fff;
//             font-weight: 600;
//             transition: 0.3s;
//             font-size: 16px;
//             background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
//             svg {
//               font-weight: bold;
//               font-size: 25px;
//             }
//           }
//         }

//         p {
//           padding: 0 20px;
//           color: white;
//           font-size: 18px;
//           margin: 5px 0;
//           &:last-of-type {
//             direction: rtl;
//           }
//         }

//         .highlight {
//           background: linear-gradient(45deg, #0c85f2, #00c896);
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//           font-weight: bold;
//         }
//       }
// .flashcards,
// .quizzes {
//   margin-top: 20px;
//   h3 {
//     font-size: 30px;
//     background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     color: transparent;
//     margin-bottom: 10px;
//     width: fit-content;
//   }

//   .cards {
//     background-color: rgb(22 26 38);
//     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
//     border: 1px solid rgba(255, 255, 255, 0.1);
//     border-radius: 10px;
//     height: 360px;
//     overflow-x: hidden;
//     padding: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 30px;
//     box-shadow: 0 0 5px #00c896, 0 0 5px #0d89f2;
//     @media (max-width: 849px) {
//       flex-direction: column;
//     }

//     /* للـ Webkit (Chrome, Edge, Safari) */
//     &::-webkit-scrollbar {
//       width: 0px; /* عرض الـ scrollbar */
//     }

//     .card {
//       background-color: rgb(20, 18, 18);
//       color: white;
//       width: 100%;
//       height: 150px;
//       min-height: 140px;
//       border-radius: 15px;
//       overflow: hidden;
//       gap: 15px;
//       box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
//       transition: transform 0.3s ease, box-shadow 0.3s ease;
//       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
//       cursor: pointer;
//       display: flex;
//       @media (max-width: 849px) {
//         .image {
//           flex: 0 0 200px;
//         }
//       }

//       @media (max-width: 600px) {
//         height: 140px;
//         .image {
//           flex: 0 0 140px;
//         }
//       }

//       &:hover {
//         transform: translateY(-5px) scale(1.02);
//         box-shadow: 0 0 10px #00c896, 0 0 3px #0d89f2, 0 0 10px 0px #04f;
//       }

//       .image {
//         flex: 0 0 150px;
//         height: 150px;
//         overflow: hidden;
//         border-radius: 10px;
//         @media (max-width: 400px) {
//           flex: 0 0 130px;
//         }
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//         }
//       }

//       .content {
//         flex: 1;
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         @media (max-width: 400px) {
//           padding: 0;
//           padding-right: 5px;
//           margin-bottom: 5px;
//         }
//         h2 {
//           color: #fff;
//           background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
//           background-clip: text;
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//           color: transparent;
//           font-size: 18px;
//           font-weight: bold;
//           margin-bottom: 8px;
//           line-height: 1.3;
//           word-break: break-word; // يتعامل مع النص الطويل
//         }

//         p {
//           color: #f1f1f1;
//           font-size: 14px;
//           line-height: 1.4;
//           max-height: 4.6em; // بيخلي البراجراف يظهر سطرين بس
//           overflow: hidden;
//           text-overflow: ellipsis;
//           display: -webkit-box;
//           -webkit-line-clamp: 1; // عدد الأسطر اللي يظهروا
//           -webkit-box-orient: vertical;

//           @media (max-width: 849px) {
//             max-width: 304px;
//           }
//         }

//         button {
//           margin-top: 10px;
//           border: none;
//           outline: none;
//           cursor: pointer;
//           background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
//           transition: all 0.3s ease-in-out;
//           color: white;
//           padding: 10px 30px;
//           border-radius: 10px;
//           -webkit-border-radius: 10px;
//           -moz-border-radius: 10px;
//           -ms-border-radius: 10px;
//           -o-border-radius: 10px;
//           -webkit-transition: all 0.3s ease-in-out;
//           -moz-transition: all 0.3s ease-in-out;
//           -ms-transition: all 0.3s ease-in-out;
//           -o-transition: all 0.3s ease-in-out;
//           text-align: center;
//           font-size: 18px;
//           &:hover {
//             box-shadow: 0 0 10px #00c896, 0 0 3px #0d89f2,
//               0 0 10px 0px #04f;
//           }
//         }
//       }
//     }
//   }
// }
//     }

//     .sidebar {
//       position: sticky;
//       top: 40px;
//       padding-top: 50px;
//       overflow-x: hidden;
//       max-height: 540px;
//       // flex: 1;
//       display: flex;
//       flex-direction: column;
//       gap: 25px;
//       padding: 20px;
//       height: fit-content;
//       background: rgba(22, 26, 38, 0.8);
//       border: 1px solid rgba(255, 255, 255, 0.1);
//       border-radius: 16px;
//       backdrop-filter: blur(12px);
//       -webkit-backdrop-filter: blur(12px);
//       box-shadow: 0 0 5px #00c896, 0 0 5px #0d89f2;

//       &::-webkit-scrollbar {
//         width: 0px; /* عرض الـ scrollbar */
//       }

//       .section {
//         border-radius: 5px;
//         display: flex;
//         align-items: flex-start;
//         gap: 12px;
//         position: relative;
//         transition: all 0.3s ease-in-out;
//         cursor: pointer;

//         &:hover {
//           scale: 1.1;
//         }
//         // الخط الواصل بين العناصر
//         &::after {
//           content: "";
//           position: absolute;
//           top: 50%;
//           left: 27px;
//           width: 2px;
//           height: 100%;
//           background: linear-gradient(180deg, #0c85f2, #00c896); // خط متدرج
//           z-index: 0;
//         }

//         &:last-child::after {
//           display: none;
//         }

//         .image {
//           z-index: 2;
//           width: 55px;
//           min-width: 55px;
//           height: 55px;
//           min-height: 55px;
//           padding: 1px;
//           border-radius: 50%;
//           border: 2px solid #0a6ec5;
//           overflow: hidden;
//           img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             border-radius: 50%;
//             border: 3px solid #161a26;
//             // box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
//           }
//         }

//         .text {
//           display: flex;
//           flex-direction: column;
//           position: relative;
//           z-index: 2;

//           h4 {
//             margin: 0;
//             font-size: 16px;
//             font-weight: 600;
//             background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
//             background-clip: text;
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             color: transparent;
//             width: fit-content;
//           }

//           p {
//             margin: 4px 0 0;
//             font-size: 14px;
//             color: #ddd;
//             line-height: 1.4;
//           }
//         }
//       }
//     }
//   }
// }

.Watch {
  background-color: #161a26;
  min-height: 100vh;
  padding-bottom: 40px;

  > header {
    position: static;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    padding: 80px 20px 20px;
    margin: 0 auto;
    flex-wrap: wrap; // يخلي العناصر تنزل تحت بعض في الموبايل

    .main-content {
      flex: 1 1 600px;
      min-width: 300px;

      .subtitles {
        background-color: #1f2433;
        border-radius: 15px;
        padding: 0 0 10px;
        height: auto;
        box-shadow: 0 0 10px #00c896, 0 0 15px #0d89f2;
        position: relative;
        overflow: hidden;

        .block_video {
          background: rgb(22, 26, 38); // طبقة غامقة شفافة
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          padding: 20px;
          text-align: center;

          svg {
            font-size: 60px;
            color: #089dd1; // أحمر ملفت
            margin-bottom: 15px;
          }

          h3 {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            line-height: 1.5;
            max-width: 400px;
            background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          a {
            margin-top: 20px;
            button {
              background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
              color: white;
              padding: 10px 20px;
              border-radius: 10px;
              font-size: 20px;
              border: none;
              outline: none;
              cursor: pointer;
            }
          }
        }

        .video-player {
          width: 100%;
          border-radius: 12px;
          video {
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          }
        }

        .controls {
          margin: 15px 0;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 0 20px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 8px 14px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
            transition: 0.3s;

            svg {
              font-weight: bold;
              font-size: 22px;
            }
          }
        }

        p {
          padding: 0 20px;
          color: white;
          font-size: 16px;
          margin: 5px 0;
          // transition: all 0.2s ease-in;

          &:last-of-type {
            direction: rtl;
          }
        }

        .highlight {
          background: linear-gradient(45deg, #0c85f2, #00c896);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
        }
      }

      .flashcards,
      .quizzes {
        // display: none;
        margin-top: 20px;
        h3 {
          font-size: 30px;
          background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          margin-bottom: 10px;
          width: fit-content;
        }

        .cards {
          background-color: rgb(22 26 38);
          height: 360px;
          padding: 20px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 10px;
          box-shadow: 0 0 5px #00c896, 0 0 5px #0d89f2;
          overflow-x: hidden;
          &::-webkit-scrollbar {
            width: 0px; /* عرض الـ scrollbar */
          }

          a {
            width: 100%;
            margin-bottom: 25px;
            .card {
              background-color: rgb(20, 18, 18);
              color: white;
              display: flex;
              gap: 15px;
              width: 100%;
              height: 150px;
              min-height: 140px;
              border-radius: 15px;
              cursor: pointer;
              overflow: hidden;
              transition: transform 0.3s ease, box-shadow 0.3s ease;
              box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
              @media (max-width: 849px) {
                .image {
                  flex: 0 0 200px;
                }
              }

              @media (max-width: 600px) {
                height: 140px;
                .image {
                  flex: 0 0 140px;
                }
              }

              &:hover {
                transform: translateY(-5px) scale(1.02);
                box-shadow: 0 0 10px #00c896, 0 0 3px #0d89f2, 0 0 10px 0px #04f;
              }

              .image {
                flex: 0 0 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 10px;
                @media (max-width: 400px) {
                  flex: 0 0 130px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .content {
                flex: 1;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (max-width: 400px) {
                  padding: 0;
                  padding-right: 5px;
                  margin-bottom: 5px;
                }
                h2 {
                  color: #fff;
                  background: linear-gradient(
                    135deg,
                    #00c896,
                    #0d89f2,
                    #0044ff
                  );
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  color: transparent;
                  font-size: 18px;
                  font-weight: bold;
                  margin-bottom: 8px;
                  line-height: 1.3;
                  word-break: break-word; // يتعامل مع النص الطويل

                  max-height: 4.6em; // بيخلي البراجراف يظهر سطرين بس
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; // عدد الأسطر اللي يظهروا
                  -webkit-box-orient: vertical;
                }

                p {
                  color: #f1f1f1;
                  font-size: 14px;
                  line-height: 1.4;
                  max-height: 4.6em; // بيخلي البراجراف يظهر سطرين بس
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1; // عدد الأسطر اللي يظهروا
                  -webkit-box-orient: vertical;

                  @media (max-width: 849px) {
                    max-width: 304px;
                  }
                }

                button {
                  margin-bottom: -10px;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  background: linear-gradient(
                    135deg,
                    #00c896,
                    #0d89f2,
                    #0044ff
                  );
                  transition: all 0.3s ease-in-out;
                  color: white;
                  padding: 10px 30px;
                  border-radius: 10px;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  -ms-border-radius: 10px;
                  -o-border-radius: 10px;
                  -webkit-transition: all 0.3s ease-in-out;
                  -moz-transition: all 0.3s ease-in-out;
                  -ms-transition: all 0.3s ease-in-out;
                  -o-transition: all 0.3s ease-in-out;
                  text-align: center;
                  font-size: 18px;
                  &:hover {
                    box-shadow: 0 0 10px #00c896, 0 0 3px #0d89f2,
                      0 0 10px 0px #04f;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sidebar {
      background: rgba(22, 26, 38, 0.8);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1 1 280px;
      position: sticky;
      top: 20px;
      min-width: 300px;
      max-width: 300px;
      height: fit-content;
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 16px;
      box-shadow: 0 0 5px #00c896, 0 0 5px #0d89f2;

      .section {
        border-radius: 5px;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          scale: 1.05;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 27px;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, #0c85f2, #00c896);
          z-index: 0;
        }

        &:last-child::after {
          display: none;
        }

        .image {
          z-index: 2;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          border: 2px solid #0a6ec5;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #161a26;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          z-index: 2;

          h4 {
            font-size: 15px;
            font-weight: 600;
            background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p {
            font-size: 13px;
            color: #ddd;
            line-height: 1.3;
          }
        }
      }
    }
  }

  /* 📱 Responsive Design */
  @media (max-width: 1024px) {
    .container {
      gap: 20px;
    }
    .sidebar {
      max-width: 250px;
    }
  }

  @media (max-width: 939px) {
    .sidebar {
      // position: relative;
      // top: unset;
      max-width: 100% !important;
      width: 100%;
    }
  }

  @media (max-width: 849px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 600px) {
    .main-content .subtitles p {
      font-size: 14px;
    }
    .main-content .flashcards h3,
    .main-content .quizzes h3 {
      font-size: 22px;
    }
    .sidebar .section h4 {
      font-size: 14px;
    }
  }
}
