.Sidebar {
  background-color: #1d2937;
  min-width: 60px;
  width: 220px;
  padding-top: 10px;
  padding: 10px;
  transition: 0.3s;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  .menu {
    padding-left: 4px;
    display: flex;

    @media (max-width: 839px) {
      justify-content: center;
    }
    button {
      color: white;
      background: none;
      height: 50px;
      font-size: 50px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .links {
    .link {
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      min-height: 38px;
      padding: 5px;
      transition: 0.3s;
      text-decoration: none;

      &.active {
        background-color: rgba(255, 255, 255, 0.192);
        color: white;
        border-radius: 5px;
      }

      svg {
        fill: white;
        font-size: 18px;
      }

      .title {
        color: white;
        font-size: 18px;
      }
    }
  }
}
