.Playlists {
  background-color: #161a26;
  height: 100vh;
  > h2 {
    background: linear-gradient(135deg, #00c896, #0d89f2, #0044ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: center;
    margin: 80px 0 0;
    font-size: 50px;
    font-weight: bold;
  }
}
